# Q1 Print Hello, World!

In [5]:
if __name__ == '__main__':
  print("Hello, World")

Hello, World

# Q2 Even/Odd - Not weird/Weird

In [6]:
if __name__ == '__main__':
  n = int(input())

if n % 2 == 1 or 6 <= n <= 20:
    print("Weird")
else:
    print("Not Weird")

24
Not Weird

# Q3 Input a , b - sum/diff/product

In [7]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a+b)
    print(a-b)
    print(a*b)

6
8
14
-2
48

# Q4 Division/Float_Division - a//b , a/b

In [8]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

3
5
0
0.6

# Q5 i<n, print i(sqrare)

In [9]:
if __name__ == '__main__':
    n = int(input())
    for i in range (n):
        print(i*i)

3
0
1
4

# Q6 Leap OR Not

In [10]:
def is_leap(year):
    leap = False

    # Write your logic here
    if (year%400 == 0 or (year%100 != 0 and year%4 == 0)):
        leap = True

    return leap

year = int(input())
print(is_leap(year))

2891
False

# Q7 inp = 3 | out = 123

In [11]:
if __name__ == '__main__':
    n = int(input())
    for i in range(1,n+1):
        print(i ,end="")

3
123